<router-outlet />
<!-- Hero -->
<div class="dark:bg-neutral-900 bg-gradient-to-b from-violet-600/10 via-transparent">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-4 space-y-4">

    <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h1 class="block font-medium text-gray-800 dark:text-gray-300 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        Liste des tâches
      </h1>
    </div>
    <!-- End Title -->

    <div class="flex justify-center items-center m-4 p-4">
      <div
        class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="p-4 md:p-5">
          <ul class="max-w-md">
            @for (task of tasks; track $index) {
            <compo-task [numero]="$index + 1" [name]="task.name" [completed]="task.completed"
              (complete)="calculTasksCompleted($event)"></compo-task>
            }
          </ul>
        </div>
      </div>
    </div>

    @if (nombreTasksCompleted > 0) {
    <div class="max-w-3xl text-center mx-auto">
      <h1 class="block font-medium text-gray-800 dark:text-gray-300 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        {{nombreTasksCompleted}} tâche{{nombreTasksCompleted > 1 ? 's' : ''}} terminée{{nombreTasksCompleted > 1 ? 's'
        : ''}} !
      </h1>
    </div>
    }
  </div>
</div>
<!-- End Hero -->