<router-outlet />
<!-- Hero -->
<div class="dark:bg-neutral-900 bg-gradient-to-b from-violet-600/10 via-transparent">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-4 space-y-4">

    <!-- Title -->

    <div class="max-w-3xl text-center mx-auto">
      <h2 class="block font-medium text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
        @if (nombreTasksCompleted > 0) {
        @if (nombreTasksCompleted > 1) {
        {{nombreTasksCompleted}} tâches terminées sur {{todolistService.tasks.length}} !
        }@else {
        Une tâche terminée sur {{todolistService.tasks.length}} !
        }
        }@else {
        Il serait temps de s'y mettre...
        }
      </h2>
    </div>
    <!-- End Title -->

    <div class="flex justify-center items-center m-4 p-4">
      <div
        class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
        <div class="p-4 md:p-5">
          <ul class="max-w-md">
            @for (task of todolistService.tasks; track $index) {
            <compo-task [task]="task" (complete)="calculTasksCompleted($event)"></compo-task>
            }@empty {
            <p class="text-2xl">Il n'y a aucune tâche...</p>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->